.profile-card {
    background-color: rgba(193, 227, 244, 0.817);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 450px;
}

.profile-picture {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.bio {
    color: #3b3c39;
}

.social-links .btn {
    margin: 5px;
}

.mail {
    color: rgb(88, 84, 84);
    text-align: left;
    padding-left: 60px;
}

b {
    padding-right: 8px;
}

